<div class="bg-black text-white">
  <div class="bg-[#181a1f] w-full flex items-center h-[104px] px-3 text-3xl">
    CryptoInsight
  </div>

  <div class="mt-1 mx-1 grid grid-cols-4 grid-rows-2 gap-1">
    <!-- Main Content -->
    <div class="col-span-3 row-span-2 bg-[#181a1f] flex items-center h-[64px] px-4 text-xl rounded-lg">
      <app-crypto-bar></app-crypto-bar>
    </div>

    <div class="bg-[#181a1f] col-span-1 row-span-3 rounded-lg p-3">
      <h2>Crypto Chatbot</h2>
      <app-chatbot></app-chatbot>
    </div>
    <div class="col-span-3 p-3 bg-[#181a1f] rounded-lg">
      <app-chart></app-chart>
    </div>
  </div>
</div>
